div id=dom_id(question)
  h1= question.title
  p= question.body
  p= question.user.email

  = render 'shared/votes', resource: question
  = render 'subscriptions/subscriptions', question: question

  - if question.files.attached?
    ul.list-group
      - question.files.each do |file|
        = render 'shared/attachment', attachment: file, owner_id: question.user_id

  .links
    p Links:
    ul
      = render partial: 'links/link', collection: question.links, as: :link

  = render 'comments/section', commentable: question

  #reward
    p Reward:
    - if question.reward
      = question.reward.name
      - if question.reward.img.attached?
        = image_tag rails_blob_path(question.reward.img, only_path: true), size: 200

  div data-controller="visibility" data-visibility-rule-value="owner" data-visibility-owner-id-value=question.user_id hidden=true
    = button_to t('questions.question.delete'), question_path(question), method: :delete, class: 'btn btn-outline-danger', form: { data: { turbo_confirm: 'Delete this question?' } }
    p= link_to t('questions.question.edit'), edit_question_path(question), class: 'btn btn-outline-warning', data: { turbo_frame: dom_id(question, :edit) }
    = turbo_frame_tag dom_id(question, :edit)
