= turbo_stream_from 'questions'

p.btn
  = link_to t('.question.new_button'), new_question_path, class: 'text-success'

ul.list-group.question-list id="questions"
  = render partial: 'questions/list_item', collection: @questions, as: :question
