# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore uploaded files in development.
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

/public/assets

# Ignore master key for decrypting credentials and more.
/config/master.key

# Local database config and secrets
/config/database.yml
config/secrets/*
!/config/secrets/.keep
.env*
!.env.example

# System test screenshots
/tmp/screenshots

.idea

/app/assets/builds/*
!/app/assets/builds/.keep

# Ignore key files for decrypting credentials and more.
/config/*.key

