nav.navbar.navbar-light.bg-light.px-3
  ul.navbar-nav.flex-row.gap-3
    li.nav-item= link_to 'Qna', root_path, class: 'nav-link'
    - if current_user
      li.nav-item.nav-link= current_user.email
      li.nav-item= link_to t('all rewards'), rewards_path, class: 'nav-link'
      li.nav-item= button_to 'Log out', destroy_user_session_path, method: :delete, class: 'btn btn-link nav-link'
    - else
      li.nav-item= link_to 'Login', new_user_session_path, class: 'nav-link'

= render 'layouts/shared/search'
