ul.list-group.search-results
  p Найдено результатов: #{@search.result.total_entries}

  - @search.result.each do |item|
    - record = item.respond_to?(:searchable) ? item.searchable : item
    li.list-group-item
      - case record
      - when Question
        = link_to record.title, question_path(record)
      - when User
        = record.email
      - when Answer
        = link_to record.body, question_path(record.question)
      - when Comment
        = record.body
  = will_paginate @search.result, param_name: 'search[page]'
