/ Nested fields for links: existing ones plus a template for new ones (Stimulus nested-form).
div data-controller="nested-form" class="space-y-2"
  p class="label" Links
  template data-nested-form-target="template"
    = form.fields_for :links, Link.new, child_index: 'NEW_RECORD' do |link|
      = render 'shared/nested_links_form', link: link
  div data-nested-form-target="container" class="space-y-2"
    = form.fields_for :links do |link|
      - if link.object.persisted?
        = render 'shared/nested_links_form', link: link
  = link_to '#', data: { action: 'nested-form#add' }, class: 'btn btn-quiet -ml-2' do
    = icon(:plus)
    = t('add_link')
