- if link.persisted?
  li id=dom_id(link)
    - if link.gist?
      - link.gist_files.each do |_name, content|
        p= link_to link.name, link.url
        p= content
    - else
      = link_to link.name, link.url
