.question-subscription id="question-subscription"
  - if current_user
    - if question.subscribed?(current_user)
      = button_to t('unsubscribe'), subscription_path(question.subscription(current_user)), method: :delete
    - else
      = button_to t('subscribe'), question_subscriptions_path(question)
