.navbar-brand {
  font-weight: bold;
}
.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.search-input {
  max-width: 200px;
  min-width: 200px;
  min-height: 36px;
  max-height: 36px;
  resize: none;
  border-radius: 0.25rem 0 0 0.25rem;
}
.search-select {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.05);
}
.search-submit {
  background-color: rgba(0, 0, 0, 0.05);
}